<%- include("../partials/preTitle") %>

<link rel="stylesheet" href="css/home.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css" />
<title>Document</title>

<%- include("../partials/header") %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BLOGSAVE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " href="/dashboard">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/blogs">Blogs</a>
      <a class="nav-item nav-link" href="/community">Community</a>
      <a class="nav-item nav-link" href="/blogs/myblogs">myblogs</a>
      <a href="/blogs/new" class="btn btn-success">New Blog</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
   <div class="user"><a class="nav-item nav-link" href="/users/logout">logout</a></div>
  </div>
</nav> 
<div class="container">

</div>


<h1>Blogs </h1>

<% Blogs.forEach(blog => { %>
<!--<p>
       <a href="/blogs/<%= blog._id %>"><%= blog.link %></a>
          
     </p> -->

<div class="card mt-4 ml-4 mr-4">
  <div class="card-body">
    <h4 class="card-title"><%= blog.heading %></h4>
    <div class="card-subtitle text-muted mb-2">
      <a href="/blogs/<%= blog._id %>"><%= blog.link %></a>
    </div>
    <div class=" card-test mb-2 ml-2">
      <div class="row">
        <div class="col-md-4">
          <img src="<%= blog.img %>" alt="Snow" style="width:100%">
        </div>
        <div class="col-md-8">
          <p>
            <%= blog.content %>
          </p>
        </div>

      </div>
    </div>

    <!--<a href="/blogs/edit" class="btn btn-info">Edit</a>
    <form action="blogs/:id/delete" method="POST" class="d-inline">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>-->

  </div>
</div>

<% }) %>
<%- include("../partials/footer") %>